<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row w-100">
            <div class="col-8">
                <p class="logo h3 text-primary">ToPPizza</p>
            </div>
            <div class="col-2" id="currency-container">
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>
