<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row w-100">
            <div class="col-8">
                <p class="logo h3 text-primary">ToPPizza</p>
            </div>
            <div class="col-2" id="currency-container">
            </div>
            <div class="col-2 text-right">
                {% if app.user %}
                    <div><small>User: {{ app.user.username }}</small></div>
                    <a href="/orders"><small>Orders history</small></a><br/>
                    <a href="/logout"><small>Logout</small></a>
                {% else %}
                    <form id="login-form" method="post">
                        <div class="form-row">
                            <div class="col-12">
                                <input type="text" name="username" id="inputUsername"
                                       class="form-control form-control-sm"
                                       placeholder="Username"/>
                            </div>
                            <div class="col-12">
                                <input type="password" name="password" id="inputPassword"
                                       class="form-control form-control-sm"
                                       placeholder="Password"/>
                            </div>
                            <div class="col-12">
                                <div class="checkbox mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="remember-me"
                                               name="_remember_me">
                                        <label class="form-check-label small-cb" for="remember-me">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                {#                                <button onClick="loginUser()" type="button" class="btn btn-success btn-sm float-right">#}
                                {#                                    Login#}
                                {#                                </button>#}
                                <button type="submit" class="btn btn-success btn-sm float-right">
                                    Login
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script>
        window.csrf_token = "{{ csrf_token('authenticate') }}";
    </script>
{% endblock %}
</body>
</html>
